@page "/"

<div class="row">

    <div class="col-3">
        <ToDoList.Pages.Components.ToDo HeaderName="Daily Task">
        </ToDoList.Pages.Components.ToDo>
    </div>

    <div class="col-3">
        <ToDoList.Pages.Components.ToDo HeaderName="Weekly Task">
        </ToDoList.Pages.Components.ToDo>
    </div>

    <div class="col-3">
        <ToDoList.Pages.Components.ToDo HeaderName="Monthly Task">
        </ToDoList.Pages.Components.ToDo>
    </div>

    <div class="col-3">
        <ToDoList.Pages.Components.ToDo HeaderName="Yearly Task">
        </ToDoList.Pages.Components.ToDo>
    </div>
</div>


